.article-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
  
.product-photos {
    width: 460px;
}

.product-foto-preview {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0;
    border: none;
}

.product-foto-preview li {
    box-shadow: 0 0 10px rgba (0, 0, 0, 0.1); 
}

.product-foto-full {
    box-shadow: 0 0 10px rgba (0, 0, 0, 0.1);
}

.product-article {
    color: #aeaeae;

    text-align: right;
}

.product-price  {
    display: flex;
}

.product-info {
    width: 390px;
}

.product-info h3 {
    margin-top: 60px;
}

.product-info .custom-list-1 {
    margin: 0;
    margin-top: 36px;
    
}

.product-info .custom-list-1 li {
    margin: 0;
    margin-left: 20px;
    margin-bottom: 10px;
}