.inner-page {
    color: #000000;

    background-color: #f8f5f2;
    background-image: url("img/pattern-light.jpg");
    background-position: 0 0;
    background-repeat: repeat;
}

.inner-page .main-header {
    margin-bottom: 50px;

    background-color: #000000;
}

.inner-page .main-header-logo {
    order: 0;

    width: 111px;
    height: 24px;
    padding: 23px 20px;
}

.inner-page .main-footer {
    padding: 60px 0;
    margin-top: 65px;
}

.catalog-header-logo {
    margin-top: 25px;
}

.main-navigation {
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: #000000;
}

.page-title {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;

    font-size: 30px;
    line-height: 42px;
}


.breadcrumbs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-bottom: 50px;

    list-style: none;

}

.breadcrumbs a {
    color: #000000;

}


.breadcrumbs a:hover,
.breadcrumbs a:focus {
    text-decoration: underline;
}

.breadcrumbs-current {
    position: relative;
    margin-right: 38px;
    color: #aba9a7;
}


.breadcrumbs a::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #000000;
    transform: rotate(45deg);
    right: -25px;
    top: 7px;
}

.catalog-columns {
    display: flex;
    justify-content: space-between;

}

.filter-option {
    position: relative;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;

}

.filter-checkbox input[type="checkbox"]+.checkbox-indicator {
    position: absolute;
    top: 0px;
    left: -40px;
    width: 15px;
    height: 15px;
    border: 2px solid #000000;
}

.filter-checkbox input[type="checkbox"]:focus+.checkbox-indicator {
    border-color: #663d15;
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

.filter-checkbox input[type="checkbox"]:checked+.checkbox-indicator::before,
.filter-checkbox input[type="checkbox"]:checked+.checkbox-indicator::after {
    content: "";
    position: absolute;
    top: 7px;
    left: 0px;

    width: 15px;
    height: 2px;
    background-color: #000000;

}


.filter-checkbox input[type="checkbox"]+.checkbox-indicator::before {
    transform: rotate(-45deg);
}

.filter-checkbox input[type="checkbox"]+.checkbox-indicator::after {
    transform: rotate(45deg);
}

.filter {
    width: 180px;
}

.filter fieldset {
    border: none;
}


.filter legend {
    font-size: 24px;
    line-height: 30px;
}


.filter-list {
    list-style: none;
}

.filter-list-radio {
    list-style: none;
}

.filter-radio input[type="radio"]+.radio-indicator {
    position: absolute;
    top: 0px;
    left: -40px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #000000;
}

.filter-radio input[type="radio"]:focus+.radio-indicator {
    border-color: #663d15;
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    border-radius: 50%;
}

.filter-radio input[type="radio"]:checked +.radio-indicator::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 9px;
    height: 9px;
    background-color: #000000;
    border-radius: 50%;

}
}

.filter-inpute:hover+label,
.filter-inpute:focus+label {
    color: #663d15;
}

.filter-inpute:disabled+label {
    color: #000000;

    opacity: 0.5;
}

.catalog {
    width: 700px;

}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: o;
    margin-bottom: 25px;

    list-style: none;
}

.catalog-item-image {
    width: 220px;
    height: 165px;
    margin: 0;
}

.catalog-item {
    width: 220px;
    margin-bottom: 20px;
    margin-right: 20px;

    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.catalog-item:nth-child(3n) {
    margin-right: 0;
}

.catalog-item:hover {
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
}


.catalog-item a {
    color: #000000;
}

.catalog-item h3 {
    font-size: 14px;
    line-height: 18px;
    margin: 15px;
}

.catalog-category {
    text-transform: none;
}

.catalog-item-price {
    display: flex;
    margin: 0;
    margin: 14px;
}

.button-price {
    text-align: center;
    width: 64px;
    margin: 0;
    padding: 10px 12px;
    background: black;
    color: white;
}

.catalog-item-price b {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 108px;
    height: 43px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    background-color: #e5e5e5;
}

.catalog-item-price .button {
    line-height: 20px;
    color: #ffffff;
}

.pagination-list {
    display: flex;
    padding: 0;
    margin: 0;

    list-style: none;
}

.pagination-item a {
    display: flex;
    width: 43px;
    height: 43px;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: #000000;

    margin-right: 8px;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
    background-color: #663d15;
}

.pagination-item-current a {
    color: #000000;

    background-color: #ffffff;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
    color: #000000;

    background-color: #ffffff;
}