body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans Narrow", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #000000;
    background-image: url("img/bg.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.button {
    font: inherit;

    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #000000;
    border: none;
    padding: 10px 30px;
    margin-right: 16px;


}

.button:hover,
.button:focus {
    background-color: #664d15;
    cursor: pointer;
}



.button .disabled,
.button:disabled {
    cursor: default;
    opacity: 0.5;
    background-color: #000000;
}

.contacts-button {
    display: inline-block;
    margin-top: 27px;
    /* margin-right: 20px; */
}

.main-header {
    margin-bottom: 75px;

}

.main-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
}

.main-header-logo {
    order: 2;
    width: 368px;
    height: 153px;
}

.main-navigation-wrapper {
    width: 100%;
    margin-bottom: 60px;
    background-color: #000000;
}

.main-navigation-wrapper .container {
    display: flex;
    justify-content: space-between;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;

    width: 620px;

    margin: 0;
    padding: 0;

    min-height: 70px;

}

.user-navigation {
    display: flex;
    max-width: 140px;


    margin: 0;
    padding: 0;
}

.site-navigation,
.user-navigation {
    list-style: none;

}

.site-navigation a,
.user-navigation a {
    display: block;
    padding: 25px 20px;

    color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
    background-color: #242424;
}

.user-navigation .login-link {
    position: relative;
    padding-left: 50px;
}

.login-link::before {
    content: "";

    position: absolute;
    top: 27px;
    left: 24px;

    width: 16px;
    height: 18px;

    background-image: url("img/login.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: 0.3;
}

.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before {
    opacity: 1;

}

.features {
    margin-bottom: 80px;

}

.features-list {
    display: flex;
    justify-content: space-between;

    margin: 0;
    padding: 0;

    list-style: none;

}

.features-item {

    width: 290px;
    text-align: center;
}

.features-item h3 {
    position: relative;
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 60px;
}

.features-item h3::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    bottom: -30px;
    left: 135px;
    transform: rotate(45deg);
}

.features-item p {
    margin: 0 10px;
}

.index-columns {
    display: flex;
    justify-content: space-between;
    padding: 50px 80px;
    margin-bottom: 30px;

    color: #000000;

    background-color: #f8f5f2;
    background-image: url(img/shadow.png),
        url("img/pattern-light.jpg");
    background-position: center, 0 0;
    background-repeat: no-repeat, repeat;

}

.news {
    width: 380px;
}

.news-list {
    list-style: none;
    padding: 0;
    margin-bottom: 36px;
}

.gallery {
    width: 300px;
}

.gallery-container {
    position: relative;
    height: 260px;
}

.gallery-content {
    height: 164px;
    margin: 0;
}

.gallery-content img {
    width: 286px;
    height: 164px;
}

.gallery-button {
    box-sizing: border-box;
    position: absolute;

    width: 140px;
    margin: 0;
    
    bottom: 0;

}

.gallery-button-back{
    left: 0;
}

.gallery-button-next {
    right: 0;
}

.contacts {
    width: 380px;
}

.appointment {
    width: 300px;
}

.index-columns h2 {
    font-size: 30px;
    line-height: 42px;

}

.news-list {
    list-style: none;
}

.news-item {
    list-style: none;
}

.news-item time {
    text-transform: none;
}

.gallery-content {
    width: 286px;
    height: 164px;
    background-image: url(img/studio.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #cccccc;
    border: 7px solid #ffffff;
    margin: 0;
}

.appointment-item {
    width: 47%;
    display: flex;
    flex-direction: column;
}

.appointment-item label {
    display: inline-block;
    margin-left: 17px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.appointment-item input {
    font: inherit;
    padding-left: 16px;
    padding-top: 12px;
    padding-bottom: 14px;
    background-color: transparent;
    border: 3px solid #000000;
}

.appointment-item input:focus {
    border-color: #663d15;
    outline: none;
}

.button-submit {
    margin-top: 20px;
    width: 100%;
}

.main-footer {
    padding: 60px 0;
    margin-top: 30px;


    color: #ffffff;

    background-color: #212121;
    background-image: url("img/pattern-dark.jpg");
    background-position: 0 0;
    background-repeat: repeat;
}

.main-footer .container {
    display: flex;

}

.footer-contacts {
    width: 320px;
    margin: 0;
    margin-right: 80px;
}

.footer-contacts a {
    color: #ffffff;
    text-decoration: underline;
}

.footer-contacts a:focus,
.footer-contacts a:hover {
    text-decoration: none;
}

.footer-social {
    width: 145px;


}

.footer-social ul {
    list-style: none;
}



.footer-copyright {
    display: flex;
    flex-direction: column;
    width: 150px;
    margin: 0;
    margin-left: auto;
}

.footer-copyright .button {
    margin: 0;

}

.footer-copyright b {
    display: block;
    margin-bottom: 15px;
    margin-left: 15px;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
    color: #000000;
    background-color: #ffffff;
}

.modal {
    display: none;
    position: fixed;
    color: #000000;

    background-color: #f8f3f0;
    background-image: url("img/pattern-light.jpg");
    background-position: 0 0;
    background-repeat: repeat;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-login {
    top: 120px;
    left: 50%;
    margin-left: -230px;
    width: 300px;
    padding: 50px 80px;
}

.modal-close {
    position: absolute;
    top: 0;
    right: -34px;
    width: 22px;
    height: 22px;
    font-size: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.modal-close::before,
.modal-close::after {
    content: '';
    position: absolute;

    width: 19px;
    height: 3px;
    background-color: #d0d0d0;
    left: 1px;
    top: 10px;
}

.modal-close::before {
    transform: rotate(45deg);
}

.modal-close::after {
    transform: rotate(-45deg);
}

.modal h2 {
    margin: 0;
    margin-bottom: 30px;

    font-size: 30px;
    line-height: 42px;
   
}

.login-form p {
    margin: 0;
    margin-bottom: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    box-sizing: border-box;
    width: 300px;
    padding: 10px 15px;
    padding-right: 40px;
    font: inherit;
    color: #000000;
    text-transform: uppercase;

    background-color: #f9f6f3;
    border: 2px solid #000000;
}

.login-icon-user {
    background-image: url(img/user.svg);
    background-repeat: no-repeat;
    background-position: 270px center;
}

.login-icon-password {
    background-image: url(img/lock.svg);
    background-repeat: no-repeat;
    background-position: 270px center;
}

.login-form .login-help {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    
}

.login-checkbox {
    position: relative;
    margin-left: 30px; 
    cursor: pointer;
}

.login-form input:focus, {
    border-color: #663d15;
}

.login-checkbox input[type="checkbox"] + 
.checkbox-indicator {
    position: absolute;
    top: 0;
    left: -30px;
    width: 17px;
    height: 17px;
    border: 2px solid #000000;
}

.login-checkbox input[type="checkbox"]:focus + 
.checkbox-indicator {
    border-color: #663d15;
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

.login-checkbox input[type="checkbox"]
:checked + .checkbox-indicator::before ,
.login-checkbox input[type="checkbox"]
:checked + .checkbox-indicator::after {
    content: "";
    position: absolute;
    top: 1px;
    left: 8px;

    width: 15px;
    height: 2px;
    background-color: #000000;
}

.login-form .button {
    width: 100%;
    margin-right: 0;
}

.login-checkbox:hover,
.login-checkbox:focus {
    color: #663d15;
    cursor: pointer;
}

.restore {
    color: #000000;
    text-decoration: underline;
}

.restore:hover,
.restore:focus {
    text-decoration: none;
}

.form-container {
    display: flex;
    justify-content: space-between;
}

.wrapper-social {
    display: flex;
    justify-content: space-between;
}

.social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 43px;
    height: 43px;
    

}

.social-button:hover,
.social-button:focus {
    color: #000000;
    background-color: #ffffff;
}

.footer-social b {
    display: block;
    margin-left: 15px;
    margin-bottom: 15px;
    
}

.social-button:hover path,
.social-button:focus path {
    fill: #111;

}

